{% extends 'catalog/base.html' %}
{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <a href="{% url 'materials:create' %}" class="btn btn-primary my-2">Добавить материал</a>
            </div>
        </div>
    </div>
<div class="row">
    {% if object_list %}
        {% for object in object_list %}
        <div class="col-md-4">
            <h2>{{ object.title }}</h2>
            <p>{{ object.body|slice:100 }}</p>
            <p>
                <a class="btn btn-secondary" href="{% url 'materials:view' object.pk %}">Смотреть подробнее</a>
            </p>
        </div>
        {% endfor %}
    {% else %}
    <h4>Статей нет, но Вы можете что-нибудь написать.</h4>

    {% endif %}

</div>
{% endblock %}