<!DOCTYPE html>
{% extends 'catalog/base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Завершение регистрации</title>
</head>
<body>
 <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text">Вам на почту отправлено письмо.</p>
                    <p class="card-text">Для подтверждения регистрации перейдите по ссылке из письма.</p>
                </div>
            </div>
</body>
</html>
{% endblock %}