{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <a href="{% url 'catalog:create' %}" class="btn btn-primary my-2">Добавить материал</a>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">{{ blog_item.title }} {{blog_item.slug}}</h1>
                    <div class="col-6">-->
                        <img src="{% mediapath blog_item.image %}" style="height: 300px">
                    </div>
                    <p class="lead text"><h8>{{ blog_item.body }}</h8></p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Редактирование</a>
                        <a href="#" class="btn btn-primary my-2">Удалить</a>
                    </p>
                    <h8>Просмотры: {{ blog_item.views_count }}</h8>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}