{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-12">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create' %}">Добавить продукт</a>
</div>

  <style>
    .product-card {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;
    }

    .edit-button {
      margin-top: 10px;
      border-top: 1px solid #ccc;
      padding-top: 10px;
    }

    .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  </style>

  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="center">
      <h1>{{ title }}:</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for product in products %}
        <div class="col-md-4 mb-4">
          <div class="card product-card">
            <div class="card-body">
<!--                <img src="{{ product.image|mediapath }}" style="height: 300px"/></img>-->
                <img src="{% mediapath product.image %}" style="height: 300px"/>
                <h5 class="card-title">{{ product.name }}</h5>
                 {% if product.version %}
                    <h6 class="card-text">Версия - {{ product.version|get_item:'number_ver' }} ({{ product.version|get_item:'name_ver' }})</h6>
                 {% endif%}
                <p class="card-text">{{ product.description | truncatechars:50}}</p>
                <h6 class="card-subtitle mb-2 text-muted">{{product.price}} рублей</h6>
                <p><a class="btn btn-secondary" href="/product/{{product.pk}}" role="button">Подробнее &raquo;</a></p>
                <a href="{% url 'catalog:update' product.pk %}" class="btn btn-primary my-2">Редактирование</a>
                <a href="{% url 'catalog:delete' product.pk %}" class="btn btn-primary my-2">Удалить</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}